---
layout: default
permalink: /categories/
title: "Categories"
author_profile: false
---

<!-- 카테고리 메인 페이지 -->
<div id="main" role="main">
    {% include ownit-sidebar.html %}
    <div class="archive">
        {% comment %} Page title {% endcomment %}
        <h1 id="page-title" class="page__title">👀</h1>
        <div class='div_line'></div>
        {% comment %} Page title {% endcomment %}

        {% comment %} Main content {% endcomment %}

        <a class="card-link" href="https://ownit4137.github.io/categories/webh">
            <label class="card">
                <img src="https://raw.githubusercontent.com/ownit4137/ownit4137.github.io/master/_images/teaser/category/webh.jpg"
                    alt="Avatar" style="width:100%">
                <div class="card-container">
                    <p class=card-container-title><b>Webhacking</b></p>
                    <p class="card-container-desc">Web-application Hacking</p>
                </div>
            </label>
        </a>
        <a class="card-link" href="https://ownit4137.github.io/categories/alg">
            <label class="card">
                <img src="https://raw.githubusercontent.com/ownit4137/ownit4137.github.io/master/_images/teaser/category/alg.jpg"
                    alt="Avatar" style="width:100%">
                <div class="card-container">
                    <p class=card-container-title><b>Algorithm</b></p>
                    <p class="card-container-desc">Algorithms</p>
                </div>
            </label>
        </a>
        <a class="card-link" href="https://ownit4137.github.io/categories/ml">
            <label class="card">
                <img src="https://raw.githubusercontent.com/ownit4137/ownit4137.github.io/master/_images/teaser/category/ml.jpg"
                    alt="Avatar" style="width:100%">
                <div class="card-container">
                    <p class=card-container-title><b>Machine Learning</b></p>
                    <p class="card-container-desc">Machine Learning</p>
                </div>
            </label>
        </a>
        <a class="card-link" href="https://ownit4137.github.io/categories/pwn">
            <label class="card">
                <img src="https://raw.githubusercontent.com/ownit4137/ownit4137.github.io/master/_images/teaser/category/pwn.jpg"
                    alt="Avatar" style="width:100%">
                <div class="card-container">
                    <p class=card-container-title><b>Pwnable</b></p>
                    <p class="card-container-desc">System Hacking</p>
                </div>
            </label>
        </a>
        <a class="card-link" href="https://ownit4137.github.io/categories/blog">
            <label class="card">
                <img src="https://raw.githubusercontent.com/ownit4137/ownit4137.github.io/master/_images/teaser/category/blog.jpg"
                    alt="Avatar" style="width:100%">
                <div class="card-container">
                    <p class=card-container-title><b>Blog</b></p>
                    <p class="card-container-desc">Markdown, Jekyll, Liquid</p>
                </div>
            </label>
        </a>
<!--
        <a class="card-link" href="https://ownit4137.github.io/categories/@@@">
            <label class="card">
                <img src="https://raw.githubusercontent.com/ownit4137/ownit4137.github.io/master/_images/teaser/category/@@@.png"
                    alt="Avatar" style="width:100%">
                <div class="card-container">
                    <p class=card-container-title><b>@@@</b></p>
                    <p class="card-container-desc">@@@</p>
                </div>
            </label>
        </a>
-->
        {% comment %} Main content {% endcomment %}
    </div>
</div>

{% comment %} PageHtml {% endcomment %}
{% include OwnitCategory.html %}
{% comment %} PageHtml {% endcomment %}
