---
layout: default
permalink: /categories/webhacking
title: "webhacking"
author_profile: false
---
<div class="page__hero--overlay">
    <div class="wrapper">
        <h1><i class="fas fa-laptop-code" style="color:darkgray"></i> Post by webhacking</h1>
        <p class="categoryDescription">webhacking.kr은 웹 해킹을 연습할 수 있는 모의 해킹 사이트입니다. <br>이 카테고리에서는 webhacking.kr의 문제의 분석과
            풀이
            등에 대해서 설명합니다.</p>
    </div>
</div>

<div id="main" role="main">
    {% include ownit-sidebar.html %}
    <div class="archive">
        {% comment %}{% comment %} Page title {% endcomment %}
        <h1><i class="fas fa-laptop-code" style="color:darkgray"></i> Post by webhacking</h1>
        <p style="font-size: 13px;">webhacking.kr은 웹 해킹을 연습할 수 있는 모의 해킹 사이트입니다. <br>이 카테고리에서는 webhacking.kr의 문제의 분석과 풀이
            등에 대해서 설명합니다.</p>
        {% comment %} Page title {% endcomment %}{% endcomment %}

        {% comment %} Main content {% endcomment %}
        {% include group-by-array collection=site.posts field="categories" %}
        {% for category in group_names %}
        {% if category == "webhacking" %}
        {% assign posts = group_items[forloop.index0] %}
        <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
        {% for post in posts %}
        {% include archive-single.html %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% comment %} Main content {% endcomment %}
    </div>
</div>