<!-- 카테고리, 사이드바 CSS -->


<style>
    .card-link {
        display: inline-block;
        width: 49%
    }

    .sidebar_p {
        text-decoration: none;
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 18px !important;
    }

    .div_line {
        border-bottom: 1px solid #65a3b6;
        margin-bottom: 5px;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .card-container {
        padding: 2px 8px;
        width: 100%;
        height: 100px;
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    img {
        border-radius: 5px 5px 0 0;
    }

    .card-container-title {
        margin: 5 0 5 0px !important;
        font-size: 15px;
        color: #32859e;
    }

    .card-container-desc {
        font-size: 13px;
        color: black !important;
        height: 60px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }

    .icon {
        display: inline-block;
        width: 25px !important;
    }

    /* Category header CSS */
    .page__hero--overlay {
        margin-bottom: 0px;
        border-bottom: 1px solid #f2f3f3
    }

    .categoryDescription {
        color: #898c8f;
    }

    /* Category header CSS */
</style>
