<!--사이드바 설정 -->




<div class="sidebar">
    <h3 style="margin-bottom: 26px;">Categories</h3>
    <p class="sidebar_p"><a href="https://ownit4137.github.io/categories/alg"><i
                class="fas fa-chess-board icon algIcon"></i>&nbsp;&nbsp;Algorithm</a></p>
    <p class="sidebar_p"><a href="https://ownit4137.github.io/categories/ml"><i
                class="fas fa-brain icon mlIcon"></i>&nbsp;&nbsp;Machine Learning</a></p>
    <p class="sidebar_p"><a href="https://ownit4137.github.io/categories/webh"><i
                class="fas fa-laptop-code icon webhIcon"></i>&nbsp;&nbsp;Webhacking</a></p>
    <p class="sidebar_p"><a href="https://ownit4137.github.io/categories/pwn"><i
                class="fab fa-ubuntu icon pwnIcon"></i>&nbsp;&nbsp;Pwnable</a></p>
    <p class="sidebar_p"><a href="https://ownit4137.github.io/categories/blog"><i
                class="fab fa-github-alt icon blogIcon"></i>&nbsp;&nbsp;Blog</a></p>
</div>

{% include OwnitCategory.html %}
